body{
    background: #ffffff;
}

h3
{
    text-decoration: underline;
    }

.qualifications
{
    padding: 2px;
    border: 1px solid #E88741;
    }

 #course-name
{
    font-weight:bold;
    }

#heading
{
    font-weight:bold;
    } 